<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hldk.emergency.modules.app.mapper.BillMapper">
    <resultMap id="billMap" type="com.hldk.emergency.modules.app.entity.Bill">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="money" property="money"/>
        <result column="type" property="type"/>
        <result column="type_name" property="typeName"/>
        <result column="pay" property="pay"/>
        <result column="memo" property="memo"/>
        <result column="time" property="time"/>
    </resultMap>
    <sql id="allColumn">
        a.id as `id`,a.name as `name`,a.money as `money`,a.type as `type`,a.type_name as `type_name`,a.pay as `pay`,a.memo as `memo`,a.time as `time`
    </sql>

    <sql id="tableName">
        life_bill a
    </sql>

    <sql id="where">
        <if test="null!=e">
            <if test="e.id != null">
                AND a.id = #{e.id}
            </if>
            <if test="e.name != null and e.name != ''">
                AND a.name like concat('%',#{e.name},'%')
            </if>
            <if test="e.money != null and e.money != ''">
                AND a.money = #{e.money}
            </if>
            <if test="e.type != null and e.type != ''">
                AND a.type = #{e.type}
            </if>
            <if test="e.typeName != null and e.typeName != ''">
                AND a.type_name = #{e.typeName}
            </if>
            <if test="e.pay != null">
                AND a.pay = #{e.pay}
            </if>
            <if test="e.memo != null and e.memo != ''">
                AND a.memo = #{e.memo}
            </if>
            <if test="e.time != null">
                AND a.time = #{e.time}
            </if>
            
        </if>
    </sql>


    <select id="findPageList" resultType="com.hldk.emergency.modules.app.entity.Bill">
        SELECT <include refid="allColumn"></include>
        FROM <include refid="tableName"></include>
        <where>
            <include refid="where"></include>
        </where>
        ORDER BY a.id desc
    </select>

    <select id="getByIdType" resultType="com.hldk.emergency.modules.app.entity.Bill">
        SELECT life_bill.*, dict.`name` AS typeName FROM life_bill JOIN dict ON life_bill.type = dict.id WHERE life_bill.id =#{id};
    </select>
</mapper>

